<div>
	<center>
		<%= link_to "Submit Your Quote", new_quote_path, class: "btn btn-info " %>
	</center>
</div>
<div>
	<% @random.each do |q| %>
			Quote - <%= q.quotes %><br>
			Author - <%= q.author %><br>
			 <hr>
	<% end %>
</div>
