<div class="container">
	<div class="row mt-3">
		<div class="col-12 col-lg-4 col-md-4">
			<center><%= image_tag("/images/my12.jpg", :width => 200,style: "border-radius: 50%", :alt => "Nature Image") %></center>
		</div>
		<div class="col-12 col-lg-8 col-md-8 changefont">
			<br>
			<br>
			<p>Hi Amigo, My name is <b>JAYA MOULI</b>. i am a computer science Graduate who loves Nature.</p>
			<p>I love storing memories with my camera lens you can find my instagram below this section and also Begineer in Coding/Web Technologies <br>and also an Cuber ( i can solve 1x1 in zero seconds just kidding ).</p>
			<p></p>
		</div>
	</div>
</div>
<div>
	<h2><center>Some of Pictures that i shot</center></h2>
</div>
<style >
	.neat {
  min-height: calc(108vh - 200px);
 }
 .changefont {
 	font-family: 'Kalam', cursive;
 	font-weight: 28px
 }
</style>