<%= render 'shared/notice' %>
<!-- #change color of notice dude -->
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p class="btn btn-primary">hello</p>
<style >
	.neat {
  min-height: calc(100vh - 200px);
 }
</style>

