<%= render 'shared/notice' %>
<!-- #change color of notice dude -->
<div class="jumbotron p-0">

  <!-- Card image -->
  <div class="view overlay rounded-top">
  	<%= image_tag("/images/5.jpg", :width => "100%", :alt => "Nature Image", class: "main_image") %>
  	<div class="centered"><h1>ToDo is <span class="hii"></span></h1></div>
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
</div>
<div class="container mt-5">
	
	<div  class="row">
		<div class="col-12 col-lg-6">
			<center>
				<h5><b>Subscribe to our Daily Motivation EMAIL Subcription</b></h5>
				<p>Like this Every day - <span class="motiv"><%= @quote.quotes %></span></p><br>
			</center>
		</div>
		<div class="col-12 col-lg-6" >
			<div class="subscribe_box" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);background-size: cover;">
				<%= render partial: 'email_subscribes/email_share' %>
			</div>
		</div>
		
	</div>
</div>

<div data-aos="fade-up" data-aos-duration="4100" class="responsive mt-3">
	<div class="row p-3">
		<div class="col-12 col-sm-12 col-lg-5 col-md-5">
			<center><img src="/images/res.png" style="width: 300px"></center>
		</div>
		<div class="col-12 col-sm-12 col-lg-7 col-md-7">
			<span >
				<h4 class="mt-5">Mobile Friendly Website</h4>
				<p class="mt-3">This Website is Mobile Friendly and also <b>Responsive</b> to every device<br>
				If anything goes wrong Please free to query us</p>
			</span>
		</div>
	</div>
</div>
<style >
	.responsive {
		background-color: #EAF0F1;
	}
	.neat {
  min-height: calc(100vh - 200px);
 }
 .subscribe_box {
 	padding: 18px;
 	border-radius: 10px;
 	-webkit-box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.65);
	-moz-box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.65);
	box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.65);
 }
 .yt {
 	box-shadow: 2px 3px 23px -2px red;
 }
 .centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .jumbotron {
 	margin-bottom: 0px;
 }
 /*For Phone*/
@media (max-width: 599px) { 

.main_image {
	height: 250px
}
} 

/*For Tablet*/    
@media (min-width:600px) {
.main_image {
	height: 400px
}	
}

@media (min-width: 801){ 
.main_image {
	height: 500px
}
} 

/*For Pc*/
@media (min-width: 1281px) { 

.main_image {
	height: 500px
}
} 
  body[data-aos-duration='4100'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4100'] {
    transition-duration: 700ms;
  }
</style>
<script >
	var typed = new Typed('.hii', {
	  strings: ['Awesome', 'Good'],
	  typeSpeed: 50,
	  typeSpeed: 70,
	  smartBackspace: true // Default value
	});
	AOS.init();
</script>

