<span class=""><center>Today Quotation for Motivation</center></span><br>
<div >
	" <%= @quote.quotes.capitalize %> "
	<br>
	<span class="float-right" style="font-family: cursive;font-size: 14px"><%= @quote.author.capitalize %></span>
</div>
