<span style="color: #E74292">Hello Amigo</span>, <span style="color: #BB2CD9;text-decoration: none;"><b><%= @resource.email.capitalize %>!</b></span>

<p style="color: black"> Your Password has been changed Successfully</p>
<img src="https://i.ibb.co/4wbDb3G/signature.png" style="width: 250px;float: right;" ><br>
