<span style="color: #E74292">Hello Amigo</span>, <span style="color: #BB2CD9;text-decoration: none;"><b><%= @resource.email.capitalize %>!</b></span>

<p style="color: black">Someone has requested a link to change your password. You can do this through the button below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), :style=> 'background-color: #4CAF50; padding: 14px 40px;border-radius: 10px;text-decoration: none;color: white;border: none;font-size: 16px;border: 2px solid green;' %></p>

<p style="color: black">If you didn't request this, please ignore this email.</p>
<p style="color: black"><b>Your password won't change until you access the link above and create a new one.</b></p>
<img src="https://i.ibb.co/4wbDb3G/signature.png" style="width: 250px;float: right;" ><br>
