<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application-mailer", media: "all" %>
  </head>
  <body >
  	<div class="container" >
	  	<div >
	  		<div style="height: 200px;background-image: url('https://i.ibb.co/FnrXp6C/rsz-1new1.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;border-top-left-radius: 10px;
	border-top-right-radius: 10px;" class="kapa"><center><span class="pt-5 " style="font-size: 22px">Todo Application</span></center>	
	  		</div>
	  		<div class="hellboy borderdiv" >
		  		<div class="pad mb-2 ">
			    	<%= yield %>
			    </div>
			</div>
		</div>
    </div>
  </body>
</html>
<style >
	.qi, .ri {
    color: black; 
}
.im {
    color: black;
}
.borderdiv {
	border-bottom: 5px solid black;
	/*border-left: 1px solid black;
	border-right: 1px solid black;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.pad {
	padding:8px;
}
/*.kapa {
	border-left: 4px solid black;
}*/
</style>