<div class="container">
	<div class="card" >
	  <div class="card-header">
	    <h3><i class="fas fa-tasks"></i> <b> All Tasks</b></h3>
	  </div>
	</div>
    
	<% @tasks.each do |task| %>
		<div class="tasks mt-2 md-3">

			<i class="fal fa-edit"></i> <%= link_to task.name.capitalize, user_task_path(task) %>
			
			<% if task.todos.where(completed: true).count == task.todos.count %>
				<span class="badge badge-success float-right">Completed</span>
			<% elsif task.todos.count != 0 && task.todos.where(completed: true).count > 0 %>
			    <span class="badge badge-warning float-right">On progress</span>
			<% else %>
				<span class="badge badge-secondary float-right">Not started</span>
			<% end %>
		</div>
	<% end %>
</div>
  

<style >
	.tasks {
		background-color: #f1f1f1;
		border-radius: 8px;
		padding: 8px 20px 8px 40px;
		box-shadow: 5px 10px 30px #888888;
	}

	.badge {
		font-size: 13.4px
	}
</style>  